<%- include('particles/header.ejs') %> 

<div class="container-fluid">
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae tempore alias. Architecto alias, nihil molestiae nesciunt, aut aspernatur a ab officiis harum ex pariatur aperiam cumque dolores quod rem.</p>

    <% entries.forEach((entry) => { %>

        <% var length = 100; %> 
        <% var myString = entry.text; %> 
        <% var myTruncatedString = myString.substring(0,length); %>
        
        <% let reference = "posts/" + entry.id %> 

        <h3><%= entry.head %></h3>
        <p><%= myTruncatedString %>... <a href="<%= reference %>">Read More</a> </p>
    <% }) %> 

</div>



<%- include('particles/footer.ejs') %> 